.botSettingsEditor {
  min-width: 600px;
  width: 600px;
  max-height: 314px;
}

.cancelButton {
  margin-left: auto;
}

.saveButton {
  margin-left: 4px;
}

.key {
  width: 240px;
  margin: 16px 145px 0 32px;
}

.encryptKeyCheckBox {
  margin-top: 30px;
  span {
    width: 300px;
  }
}

a {
  color: var(--link-color);
  text-decoration: none;
}

.actionsList {
  list-style: none;
  position: absolute;
  right: 85px;
  bottom: 65px;

  li {
    display: inline;
    padding: 2px 5px;
  }

  li + li {
    border-left: 1px solid var(--neutral-11);
  }

  .disabledAction {
    color: var(--link-color-disabled);
    cursor: default;
  }
}
