
.collapsible-json-viewer {
  font-family: var(--monospace-font-family);
  font-size: 12px;
  li:focus, ul:focus {
    outline: none;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 18px;
      border: var(--p-button-border-focus);
      top: 1px;
      left: 0;
      box-sizing: border-box;
    }
  }

  li:focus::before {
    left: 10px;
    width: calc(100% - 10px);
  }
}
