.secret-prompt-dialog-modal {
  background-color: var(--neutral-5);
  opacity: 1.0;
}

.button-row {
  margin-top: 48px;
  float: right;
  margin-bottom: 25px;

  & > .save-button {
    margin-left: 8px
  }
}

.key-container {
  position: relative;
  .key {
    margin: 16px 100px 20px 0;
  }
}

.show {
  text-decoration: none;
  position: absolute;
  top: 30px;
  right: 50px;
  &[disabled="true"], &[aria-disabled="true"] {
    color: var(--p-button-color-disabled);
  }
}
