.button-row {
  margin-top: 50px;
  float: right;

  > button {
    height: 21px;
  }

  & > .save-button {
    margin-left: 8px;
  }
}

.key-container {
  position: relative;
  .key {
    margin: 16px 100px 0 0;
  }
}

.show {
  padding-left: 12px;
  text-decoration: none;
  position: absolute;
  top: 28px;
  right: 58px;
  &[disabled="true"], &[aria-disabled="true"] {
    color: var(--p-button-color-disabled);
  }
}
