{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "20"
        }
      }
    ],
    "@babel/preset-typescript"
  ],
  "ignore": ["**/*.d.ts"],
  "sourceMaps": "inline",
  "plugins": [
    "@babel/plugin-transform-react-jsx",
    [
      "@babel/plugin-proposal-decorators",
      {
        "decoratorsBeforeExport": true
      }
    ],
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-transform-runtime"
  ]
}
