{
  "extends": [
    "eslint:recommended",
    "plugin:typescript/recommended",
    "plugin:prettier/recommended"
  ],
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "rules": {
    "no-dupe-class-members": "off",

    "typescript/explicit-member-accessibility": "warn",
    "typescript/indent": "off",
    "typescript/no-empty-interface": "warn",
    "typescript/no-parameter-properties": "off"
  },
  "overrides": [
    {
      "files": [
        "**/*.test.tsx",
        "**/*.spec.tsx",
        "**/*.test.ts",
        "**/*.spec.ts"
      ],
      "env": {
        "jest": true
      }
    }
  ]
}
