.DS_Store
lerna-debug.log*
node_modules
npm-debug.log
Thumbs.db
.idea
generated
custom-botframework-webchat/dist
coverage
build/
.vscode/*
chrome-driver-log.txt
.env
/packages/**/package-lock.json
/packages/**/package-lock.json
