.generic-document {
  align-items: center;
  background-color: var(--welcome-page-bg);
  box-sizing: border-box;
  display: flex;
  height: 100%;
  justify-content: center;
  min-width: 480px;
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;

  & > .generic-doc-content {
    height: 90%;
    max-height: 900px;
    max-width: 1200px;
    overflow-x: hidden;
    overflow-y: auto;
    width: 90%;
  }
}
