.chat {
  background-color: white;
  height: 100%;
  display: flex;
  :global {
    .wc-chatview-panel {
      flex: 1;
      position: relative;
      &::-webkit-scrollbar-thumb {
        background-color: blue;
        color: red;
      }

      p {
        margin-bottom: 0;
        margin-top: 0;
      }

      h1, h2, h3, h4 {
        margin-top: 8px;
        margin-bottom: 4px;
      }

      br {
        content: "";
        display: block;
        font-size: 50%;
      }

      ol, ul {
        margin-top: 0;
      }

      .wc-message-content * {
        user-select: text;
      }

      .wc-message-content.selected {
        color: black;
        background-color: var(--webchat-selected-text-bg);
        box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
      }

      .wc-message-content.selected > svg.wc-message-callout > path {
        fill: var(--webchat-selected-text-bg);
      }

      .wc-message-wrapper:first-child:focus {
        margin-top: 2px;
      }

      .wc-card {
        color: #000;
      }

      .wc-card button {
        border: 1px solid #ccc;
        border-radius: 1px;
        cursor: pointer;
        outline: none;
        transition: color .2s ease, background-color .2s ease;
        background-color: transparent;
        color: var(--info-outline);
        min-height: 32px;
        width: 100%;
        padding: 0 16px;
      }

      .wc-list ul {
        padding: 0;
      }

      .clickable:hover {
        cursor: pointer;
      }
    }
  }
}

.disconnected {
  padding: 16px;
  background-color: white;
  height: 100%;
  display: flex;
  align-items: flex-start;
  & .startButton {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
  }
}
