.intent-viewer {
  color: var(--luis-default-color);
  font-family: var(--default-font-family);
  font-size: 12px;
  user-select: text;
}

:global {
  #top-score-intent-label{
    font-weight: bold;
  };

  #top-scoring-intent-value{
    padding-top: 8px;
  }
}
