.overlay {
  position: absolute;
  transition: background-color 0.1s ease-in-out;
  background-color: transparent;
  pointer-events: none;
  &.dragged-over-overlay {
    background-color: var(--neutral-9);
  }

  &.enabled-for-drop {
    pointer-events: auto;
  }
}
