.main {
  background-color: var(--dialog-bg);
  color: var(--input-label-color);
  display: flex;
  width: 100%;
  height: 100%;
  min-height: 100%;
  flex-direction: column;
}

.nav {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  & > .workbench {
    display: flex;
    flex: 1;
    flex-direction: column;
  }

  & .mdi-wrapper {
    height: 100%;
    width: 100%;
  }

  & .mdi-wrapper::before {
    content: "";
    background-image: url('../media/ic_bot_framework.svg');
    width: 100%;
    height: calc(100% - 70px); /* centered below toolbar */
    background-size: 50% 50%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    position: absolute;
    opacity: .2;
  }

  & .secondary-mdi {
    border-left: 1px solid var(--neutral-9);
  }
}
