.main {
  :global {
    @media (min-width: 768px) {
      .ms-Dialog-main {
        min-width: 625px;
        width: 625px;
        max-height: 480px;
      }

      .ms-Dialog-actions {
        margin: 0;
      }
    }
  }

  .multiInputRow {
    width: 420px;
    justify-content: space-between
  }

  .smallInput input {
    width: 200px;
  }

  .secretInput input {
    width: 200px;
  }

  .botCreateForm {
    .checkbox-anchor-container {
      display: flex;

      > .link {
          background-color: transparent;
          border: 1px solid transparent;
          color: var(--focused-selected-list-item-bg);
          cursor: pointer;
          font-family: var(--default-font-family);
          font-weight: 600;
          padding: 0;
          white-space: normal;
          text-decoration: none;

          &:hover {
            text-decoration: underline;
          }
      }
    }
  }

  .botCreateForm .botCreateForm > :not(:first-child) {
    margin-top: 16px;
  }

  .endpoint-warning {
    height: 11px;
    color: var(--warning-outline);
    font-family: var(--default-font-family);
    font-size: 11px;
    line-height: 11px;
  }

  .key {
    width: 250px;
    margin: 16px 145px 20px 32px;
  }

  .encryptKeyCheckBox {
    margin-top: 30px;

    span {
      width: 300px;
    }
  }

  a {
    color: var(--link-color);
    text-decoration: none;
  }

  .actionsList {
    list-style: none;
    position: absolute;
    right: 0;
    bottom: 2px;
    padding: 0;
    margin: 0;

    li {
      display: inline;
      padding: 2px 5px;
    }

    li + li {
      border-left: 1px solid var(--neutral-11);
    }

    .disabledAction {
      color: var(--link-color-disabled);
      cursor: default;
    }
  }
}
