.main {
  .multiInputRow {
    width: 420px;
    justify-content: space-between
  }

  .smallInput input {
    width: 200px;
  }

  .secretInput input {
    width: 200px;
  }

  .botCreateForm :global {
    .ms-Dialog-header {
      display: none;
    }
  }

  .botCreateForm .botCreateForm > :not(:first-child) {
    margin-top: 16px;
  }

  .endpoint-warning {
    height: 11px;
    color: var(--warning-outline);
    font-family: var(--default-font-family);
    font-size: 11px;
    line-height: 11px;
  }
}
