.main {
  min-width: 464px;
  width: 464px;
  max-height: 439px;

  a {
    color: var(--link-color);
    text-decoration: none;
    line-height: 20px;
  }
}

.multi-input-row {
  width: 420px;
  justify-content: space-between;
}

.small-input input {
  width: 200px;
}

.bot-create-form {
  position: relative;
}

.checkbox-anchor-container {
  display: flex;

  > .link {
    background-color: transparent;
    border: 1px solid transparent;
    color: var(--focused-selected-list-item-bg);
    cursor: pointer;
    font-weight: 600;
    padding: 0;
    text-decoration: none;
    white-space: normal;

    &:hover {
      text-decoration: underline;
    }
  }
}

.endpoint-warning {
  height: 11px;
  color: var(--warning-outline);
  font-family: var(--default-font-family);
  font-size: 11px;
  line-height: 11px;
}

.key {
  width: 175px;
  margin: 16px 145px 0 32px;
}

.encrypt-key-check-box {
  margin-top: 30px;

  span {
    width: auto;
  }
}

.actions-list {
  list-style: none;
  position: absolute;
  right: 106px; // when re-enabling 'Generate new secret' link, original value: 0;
  bottom: 3px;
  padding: 0;
  margin: 0;

  li {
    display: inline;
    padding: 2px 12px;
  }

  li + li {
    border-left: 1px solid var(--neutral-11);
  }

  .disabled-action {
    color: var(--link-color-disabled);
    cursor: default;
  }
}

