.main {
  .multiInputRow {
    width: 420px;
    justify-content: space-between
  }

  .smallInput input {
    width: 200px;
  }

  .secretInput input {
    width: 200px;
  }

  .botCreateForm {
    .checkbox-anchor-container {
      display: flex;

      > .link {
          background-color: transparent;
          border: 1px solid transparent;
          color: var(--focused-selected-list-item-bg);
          cursor: pointer;
          font-family: var(--default-font-family);
          font-weight: 600;
          padding: 0;
          white-space: normal;
          text-decoration: none;

            &:hover {
              text-decoration: underline;
            }
      }
    }
  }

  .botCreateForm :global {
    .ms-Dialog-header {
      display: none;
    }
  }

  .botCreateForm .botCreateForm > :not(:first-child) {
    margin-top: 16px;
  }

  .endpoint-warning {
    height: 11px;
    color: var(--warning-outline);
    font-family: var(--default-font-family);
    font-size: 11px;
    line-height: 11px;
  }
}
