/*
 Neutral colors used in all themes
 from decreasing amounts of black
 */
html {
  --neutral-16: #000;
  --neutral-15: #212121;
  --neutral-14: #333333;
  --neutral-13: #444;
  --neutral-12: #4a4a4a;
  --neutral-11: #515151;
  --neutral-10: #666;
  --neutral-9: #777;
  --neutral-8: #808080;
  --neutral-7: #888;
  --neutral-6: #a6a6a6;
  --neutral-5: #ccc;
  --neutral-4: #dcdcdc;
  --neutral-3: #eaeaea;
  --neutral-2: #f4f4f4;
  --neutral-1: #fff;

  --blur-radius: 6px;
  --spread-radius: -3px;
  --box-shadow-top: inset 0 3px var(--blur-radius) var(--spread-radius) var(--neutral-6);
  --box-shadow-left: inset 3px 0 var(--blur-radius) var(--spread-radius) var(--neutral-6);
  --box-shadow-bottom: inset 0 -3px var(--blur-radius) var(--spread-radius) var(--neutral-6);
  --box-shadow-right: inset -3px 0px var(--blur-radius) var(--spread-radius) var(--neutral-6);
}
