.header {
  color: var(--log-panel-item-debug);
  font-family: var(--default-font-family);
  font-size: 12px;
  padding: 6px 3px;
  user-select: text;
  display: flex;
  white-space: nowrap;
  span {
    color: var(--log-panel-item-debug);
    display: inline-block;
    strong {
      color: var(--log-panel-item-info);
    }
  }
  span + span {
    margin-left: 16px;
  }
}

.appId {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100%;
}
