.bot-not-open-explorer {
  background-color: var(--dialog-bg);
  color: var(--input-label-color);
  display: flex;
  flex: 1;
  flex-direction: column;
  list-style-type: none;
  margin: 0;
  padding: 0;

  & .explorer-empty-state {
    padding: 16px;
    overflow: hidden;
  }

  & .open-bot {
    margin-top: 13px;
    margin-bottom: 26px;
    width: 180px;
    height: 26px;
  }

  & .empty-state-text {
    margin-top: 13px;
  }
}
