.panel {
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 100%;
  position: relative;
  background-color: var(--explorer-panel-bg);
  color: var(--input-label-color);
}

.panel-header {
  background-color: var(--toolbar-bg);
  color: var(--tab-color);
  line-height: 36px;
  min-height: 36px;
  padding-left: 16px;
  display: flex;
  white-space: nowrap;
  justify-content: flex-end;

  & > .accessories {
    display: flex;
    align-items: center;
    width: 100%;

    & > button {
      background-color: transparent;
      color: var(--neutral-5);
      border: 0;
      cursor: pointer;
      white-space: nowrap;

      &:hover:not([disabled]), &[selected], &[aria-selected] {
        &:after {
          border: none;
        }
      }
    }

    & > button:nth-of-type(2) {
      margin-left: auto;
      min-width: 30px;
      width: 30px;
      height: 30px;

      &:hover:not([disabled]), &[selected], &[aria-selected] {
        &:after {
          border: none;
        }
      }
    }

    & > button:nth-of-type(3) {
      min-width: 30px;
      width: 30px;
      height: 30px;

      &:hover:not([disabled]), &[selected], &[aria-selected] {
        &:after {
          border: none;
        }
      }
    }

    & > button:nth-of-type(4) {
      min-width: 30px;
      width: 30px;
      height: 30px;

      &:hover:not([disabled]), &[selected], &[aria-selected] {
        &:after {
          border: none;
        }
      }
    }
  }
}

.panel-body {
  background-color: var(--toolbar-bg);
  color: inherit;
  flex: 1;
  overflow: auto;
  padding: 0;
}
