.waiting-message {
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  font-family: var(--default-font-family);
  span {
    user-select: initial;
  }
}
