.ngrok-status-indicator {
  :global {
    input {
      font-family: var(--default-font-family);
    }
    align-items: flex-center;
    justify-content: flex-center;
    margin-bottom: 4px;
  }

  .header {
    font-weight: bold;
  }

  %common-tunnel-indicator {
    margin-right: 3px;
    padding: 5px;
    color: var(--ngrok-text-color);
  }

  .tunnel-details-list {
    background-color: var(--my-bots-well-bg);
    border: var(--my-bots-well-border);
    padding: 10px;

    legend {
      display: block;
      font-weight: bold;
      margin-bottom: 2px;
    }

    li {
      margin-bottom: 10px;
    }
  }
  
  .tunnel-health-indicator {
    display: inline-block;
    position: relative;
    padding: 3px;
    margin-right: 2px;
    
    &.tunnel-error {
      &::before {
        @extend %common-tunnel-indicator;
        background-color: var(--ngrok-error);
        content: "Error";
      }
    }

    &.tunnel-inactive {
      &::before {
        @extend %common-tunnel-indicator;
        background-color: var(--ngrok-inactive);
        content: "Inactive";
      }
    }

    &.tunnel-active {
      &::before {
        @extend %common-tunnel-indicator;
        background-color: var(--ngrok-active);
        content: "Active";
      }
    }
  }
}

