.web-view-container {
  width: 100%;
  height: 100%;
}

.detail-panel {
  height: 100%;

  & .accessory-button:disabled {
    cursor: default;
    color: var(--neutral-7);
  }

  & .accessory-button:active {
    color: var(--neutral-1);
  }

  & .accessories {
    & .accessory-button {
      height: 30px;
      white-space: nowrap;
      display: flex;
      color: var(--neutral-5);
      background-color: transparent;
      & .accessory-button-icon {
        width: 30px;
      }
    }
  }
}

.inspector-container {
  box-sizing: border-box;
  font-family: var(--monospace-font-family);
  height: calc(100% - 4px);
  margin: 2px;
  padding: 0 0 18px 0;
  overflow-y: auto;
  word-wrap: break-word;
  white-space: pre-wrap;
  user-select: text;
}

.nothing-inspected {
  padding: 0 16px;
}
