.webViewContainer {
  width: 100%;
  height: 100%;
}

.detailPanel {
  height: 100%;

  & .accessoryButton:disabled {
    cursor: default;
    color: var(--neutral-7);
  }

  & .accessoryButton:active {
    color: var(--neutral-1);
  }

  & .accessories {
    & .accessoryButton {
      height: 30px;
      white-space: nowrap;
      display: flex;
      color: var(--neutral-5);
      background-color: transparent;
      & .accessoryButtonIcon {
        width: 30px;
      }
    }
  }
}

.inspectorContainer {
  box-sizing: border-box;
  font-family: var(--monospace-font-family);
  height: calc(100% - 7px);
  margin: 2px;
  padding: 0;
  overflow-y: auto;
  word-wrap: break-word;
  white-space: pre-wrap;
  user-select: text;
}
