.controlBar {
  color: var(--log-panel-item-debug);
  padding: 6px 3px;
  & a {
    color: var(--log-panel-link);
    text-decoration: none;
  }
}

:global {
  #rawResponseButton {
    padding-left: 8px;
  }
}
