.control-bar {
  padding: 6px 3px;

  a {
    color: var(--luis-control-bar-color);
    text-decoration: none;

    &.selected {
      font-weight: bold;
      text-decoration: underline;
    }
  }

  span:not(:last-child) {
    margin-right: 24px;
  }
}
