.tab {
  display: flex;
  align-items: center;
  height: 100%;
  background-color: var(--tab-bg);
  color: var(--tab-color);
  cursor: pointer;
  padding: 4px 8px;
  box-sizing: border-box;
  white-space: nowrap;
  position: relative;
  &::after {
    content: '';
    position: absolute;
    top: 2px;
    right: 3px;
    bottom: 3px;
    left: 2px;
    border: var(--tab-border);
    clip-path: var(--border-window-clip-path);
  }
  &:hover::after {
    border: var(--tab-hover-border);
  }

  & > span {
    display: inline-block;
    height: auto;
  }

  & > .editorTabIcon {
    display: inline-block;
    width: 12px;
    margin-right: 8px;
    &::before {
      content: "🗋";
      transform: rotate(180deg) skewX(180deg) scaleX(1.3);
      display: inline-block;
      color: var(--tab-icon-color);
      padding-right: 5px;
      padding-left: 8px;
    }
  }

  &:hover {
    > .editorTabClose {
      opacity: 1;
    }
  }

  & > .editorTabClose {
    text-decoration: none;
    display: inline-block;
    width: 8px;
    margin-left: 8px;
    opacity: 0;
    background: none;
    border: none;
    outline: none;
    padding: 0;
    cursor: pointer;
    &:focus {
      opacity: 1;
      position: relative;
      &::before {
        content: '';
        position: absolute;
        border: var(--p-button-border-focus);
        width: 9px;
        height: 9px;
        top: 3.5px;
      }
    }
    &::after {
      content: "✖";
      color: var(--tab-icon-color);
      font-size: 12px;
    }
  }
}

.truncatedTabText {
  max-width: 200px;
}

.draggedOverEditorTab {
  background-color: var(--tab-active-tab-bg);
}

.activeEditorTab {
  background-color: var(--tab-active-tab-bg);
  color: var(--tab-color);
}

:not(.activeEditorTab) > .editorTabClose {
  visibility: hidden;
}
