.notifications-explorer {
  padding: 0 20px;
  max-height: calc(100% - 60px);
  overflow-y: auto;
  margin: 0;
  list-style: none;
}

.clear-all-notifications-btn {
  display: block;
  text-align: right;
  min-width: 0;
  margin: 0 20px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  text-decoration: none;
  font-size: 11px;
  line-height: 16px;
  color: var(--notifications-clear-all-btn-color);
}

.no-notifications-msg {
  margin: 0;
  margin-top: 15px;
}
