.app {
  height: 100%;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.json {
  color: var(--luis-json-color);
  padding: 8px 16px 0 16px;
  font-family: var(--monospace-font-family);
  font-size: 13px;
  word-wrap: break-word;
  white-space: pre-wrap;
  overflow-y: auto;
  user-select: text;
  height: 100%;
}
