.multi-tabs {
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 100%;
  box-sizing: border-box;

  .tab {
    background-color: var(--tab-bg);
    height: 100%;
    border: none;
    padding: 0;
    position: relative;

    &:active {
      border: 0;
      outline: 0;
    }

    &:focus {
      border: 0;
      outline: 0;
    }
    
    &:focus::after {
      content: '';
      position: absolute;
      width: calc(100% - 2px);
      height: calc(100% - 2px);
      border: var(--nav-border-focus);
      top: 0;
      left: 0;
      clip-path: var(--border-window-clip-path);
    }
  }
}
