.multiTabs {
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 100%;
  box-sizing: border-box;

  .tab {
    height: 100%;
    border: none;
    padding: 0;

    &:active {
      border: 0;
      outline: 0;
    }

    &:focus {
      border: 0;
      outline: 0;
    }
  }
}
