
:global {
  body {
    padding: 0;
    margin: 0;
    height: 100%;
    color: #d4d4d4;
  }

  ::-webkit-scrollbar {
    width: 5px;
    height: 10px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background: #5E5E5E;
  }

  html {
    --monospace-font-family: Menlo, Monaco, Consolas, Droid Sans Mono, Courier New, monospace, Droid Sans Fallback;
    .light, .dark {
      --p-button-border-focus: 1px solid #00BCF2;
    }

    .high-contrast {
      --p-button-border-focus: 1px solid #F38518;
    }
  }
}
