.emulator {
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 100%;

  & .vertical {
    display: flex;
    flex: 1;
    flex-direction: column;
  }

  & .header {
    flex-basis: 0;
    flex-grow: 0;
    flex-shrink: 1;

    .toolbar-icon {
      cursor: pointer;
      margin: 0;
      border: 1px solid transparent;
      height: 30px;
      background-color: transparent;
      white-space: nowrap;
      color: var(--toolbar-text-color);

      &:hover {
        background-color: transparent;
        border: var(--toolbar-button-hover-border);
      }

      &:active {
        color: var(--toolbar-text-active);
      }
        
      &::before {
        background-color: var(--toolbar-icon-color);
        content: '';
        display: inline-block;
        height: 15px;
        margin-right: 3px;
        position: relative;
        top: 3px;
        width: 15px;
        -webkit-mask-size: 15px;
      }
    }

    .restart-icon {
      &::before { -webkit-mask: url(../../media/ic_refresh.svg); }
    }
    .save-transcript-icon {
      &::before { -webkit-mask: url(../../media/ic_save.svg); }
    }
  }

  & .content {
    display: flex;
    flex-direction: column;
    flex: 1;
    flex-basis: 0;
    height: 100%;
  }
}

.presentation {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--dialog-bg);
  color: var(--input-label-color);
  & .chat-panel {
    position: absolute;
    top: 50%;
    height: 75%;
    max-height: 800px;
    width: 100%;
    transform: translateY(-50%);
  }

  & > .presentation-content {
    position: relative;
    height: 100%;
    padding: 64px 0;
    max-width: 400px;
    margin: 0 auto;
  }

  & > .close-presentation-icon {
    position: absolute;
    top: 0;
    right: 0;
    display: inline-block;
    width: 64px;
    height: 64px;
    background: no-repeat 50% 50% url('../../media/ic_close.svg');
    background-size: 32px;
    cursor: pointer;
  }

  & .presentation-playback-dock {
    display: none;
    position: absolute;
    bottom: 0;
    height: 64px;
    width: 400px;
  }
}
