html {
  /* Highlight colors */
  --selected-list-item: #3f3f46;
  --focused-list-item: #073655;
  --focused-outline: #0e369c;
  --focused-selected-highlighted-list-item: #3062d6;
  --focused-selected-list-item-bg: #4672da;

  /* Alert colors */
  --info-bg: #063b49;
  --info-outline: #007acc;

  --warning-bg: #352a05;
  --warning-outline: #b89500;

  --error-text: #f48771;
  --error-bg: #5a1d1d;
  --error-outline: #be1100;

  /* webchat overridden colors */
  --webchat-selected-text-bg: #F4E321;

  /* Log panel custom colors */
  --log-panel-timestamp: #47B07F;
  --log-panel-link: #9CDCFE;

  /* nav bar custom colors */
  --nav-bar-bg: var(--neutral-13);
  --nav-icon-color: var(--neutral-1);
  --nav-icon-opacity: .6;
  --nav-icon-color-hover-opacity: 1;
  --nav-focused-tag-bg: #0e70c4;
  --nav-focused-tag-bg-opacity: 1;
  --nav-link-selected-border: 1px solid transparent;
  --nav-link-hover-border: 1px solid transparent;
}
