html {
  --default-font-family: Segoe UI, HelveticaNeue-Light, Ubuntu, Droid Sans, sans-serif;
  --default-font-semibold: Segoe UI Semibold;
  --monospace-font-family: Menlo, Monaco, Consolas, Droid Sans Mono, Courier New, monospace, Droid Sans Fallback;
}
