html {
  /* List item colors */
  --list-item-color: var(--neutral-9);
  --list-item-selected-color: var(--neutral-2);
  --list-item-hover-bg: var(--neutral-4);
  --selected-list-item: #CCCEDB;
  --focused-list-item: #DCEBFC;
  --focused-outline: 1px solid #0e369c;
  --focused-selected-highlighted-list-item: #3062d6;
  --focused-selected-list-item-bg: #4672da;

  /* Alert colors */
  --info-bg: #D6ECF2;
  --info-outline: #007acc;

  --warning-bg: #F6F5D2;
  --warning-outline: #b89500;

  --error-text: #A1260D;
  --error-bg: #F2DEDE;
  --error-outline: #BE1100;

  /* webchat overridden colors */
  --webchat-selected-text-bg: #F4E321;

  /* Log panel custom colors */
  --log-panel-timestamp: #47B07F;
  --log-panel-link: #9CDCFE;

  /* nav bar custom colors */
  --nav-bar-bg: var(--neutral-15);
  --nav-icon-color: var(--neutral-1);
  --nav-icon-opacity: .6;
  --nav-icon-color-hover-opacity: 1;
  --nav-focused-tag-bg: #0e70c4;
  --nav-focused-tag-bg-opacity: 1;
  --nav-link-selected-border: 1px solid transparent;
  --nav-link-hover-border: 1px solid transparent;

  /* input[type="text"] */
  --input-bg: var(--neutral-1);
  --input-label-color: var(--neutral-14);
  --input-label-color-disabled: #c8c8c8;
  --input-border: 1px solid #c8c8c8;
  --input-border-focus: 1px solid #00bcf2;
  --input-border-error: 1px solid var(--error-outline);
  --input-placeholder-color: var(--neutral-9);
  --input-border-disabled: 1px solid #c8c8c8;

  /* primary button */
  --p-button-color: var(--neutral-2);
  --p-button-color-disabled: var(--neutral-6);
  --p-button-border: 1px solid transparent;
  --p-button-border-focus: 1px solid #00bcf2;
  --p-button-border-hover: 1px solid transparent;
  --p-button-border-active: 1px solid transparent;
  --p-button-border-disabled: 1px solid transparent;
  --p-button-opacity-disabled: 1;
  --p-button-bg: #3062d6;
  --p-button-bg-focus: #3062d6;
  --p-button-bg-hover: #2852b2;
  --p-button-bg-active: #214494;
  --p-button-bg-disabled: var(--neutral-3);

  /* secondary button */
  --s-button-color: var(--neutral-15);
  --s-button-color-disabled: var(--neutral-3);
  --s-button-border: 1px solid transparent;
  --s-button-border-focused: var(--p-button-border-focus);
  --s-button-border-hover: 1px solid transparent;
  --s-button-border-active: 1px solid transparent;
  --s-button-border-disabled: 1px solid transparent;
  --s-button-opacity-disabled: 1;
  --s-button-bg: var(--neutral-3);
  --s-button-bg-focus: var(--neutral-3);
  --s-button-bg-hover: var(--neutral-4);
  --s-button-bg-active: var(--neutral-5);
  --s-button-bg-disabled: var(--neutral-2);

  /* Dialog a.k.a. Modal and panels */
  --dialog-bg: var(--neutral-2);

  /* Services Explorer */
  --explorer-panel-bg: var(--neutral-3);
  --explorer-panel-name-color: var(--neutral-9);
  --explorer-panel-icon-color: var(--neutral-14);
  --explorer-panel-group-title-bg: var(--neutral-5);
  --explorer-panel-group-title-color: var(--neutral-14);
  --explorer-panel-empty-message-color: var(--neutral-15);

  /* Tabs */
  --tab-bg: var(--neutral-2);
  --tab-active-tab-bg: var(--neutral-1);
  --tab-hover-border: var(--p-button-border-focus);
  --tab-seperator-bg: var(--neutral-4);

  /* toolbar */
  --toolbar-bg: var(--neutral-1);
}
