.servicePane {
  position: relative;
  display: inline-block;
  height: 100%;
  width: 100%;
  & > .addIconButton {
    background: transparent;
    cursor: pointer;
    border: none;
    outline: none;
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    right: 10px;
    padding: 0;
    margin: 0;
    & > svg {
      width: 12px;
      height: 12px;
      fill: var(--neutral-5);

      &:hover {
        fill: var(--log-panel-link);
      }
    }
  }
}

.emptyContent {
  margin: 12px 25px;
  font-size: 13px;
  color: var(--neutral-7);
}

.servicePaneList {
  list-style: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
  & > li {
    color: var(--neutral-5);
    cursor: pointer;
    display: block;
    white-space: nowrap;
    line-height: 22px;
    min-height: 22px;
    font-size: 13px;
    :hover {
      background-image: no-repeat linear-gradient(to bottom, var(--neutral-13) 0%, var(--neutral-13) 100%);
      background-size: 100% 30px;
    }

    [data-selected] {
      background-image: linear-gradient(to bottom, var(--focused-list-item) 0%, var(--focused-list-item) 100%);
    }

    & span {
      color: var(--neutral-7);
    }

    &::before {
      content: "🔗";
      display: inline-block;
      color: var(--webchat-selected-text-bg);
      padding-right: 5px;
      padding-left: 13px;
    }
  }
}

.servicePaneExplorer {
  &.containerExpanded {
    min-height: 44px;
  }
}
