.service-pane {
  border-bottom: var(--explorer-panel-group-border);
  height: 100%;
  padding: 2px;
  position: relative;
  width: 100%;

  &:last-child {
    border-bottom: 1px solid transparent;
  }
}

.service-icon {
  background: transparent;
  border: none;
  cursor: pointer;
  margin: 0;
  outline: none;
  padding: 0;
  position: absolute;
  transform: translateY(-50%);
}

.add-icon-button {
  right: 10px;
  top: calc(50% - 1px);

  & > svg {
    fill: var(--explorer-panel-group-title-color);
    height: 12px;
    width: 12px;

    &:hover {
      fill: var(--log-panel-link);
    }
  }
}

.sort-icon-button {
  > svg {
    fill: var(--explorer-panel-group-title-color);
  }

  right: 50px;
  top: calc(50% - 2px);
  width: 14px;
  height: 14px;

  &:hover {
    color: var(--log-panel-link);
  }
}

.empty-content {
  color: var(--neutral-7);
  font-size: 13px;
  margin: 12px 25px;
}

.service-pane-list {
  margin: 0;
  max-height: 400px;
  padding: 2px 0 2px 0;
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 4px;
  }

  &::-webkit-scrollbar-thumb {
    background: var(--scrollbar-color);
  }

  & > li {
    border: 1px solid transparent;
    color: var(--list-item-color);
    cursor: pointer;
    display: block;
    font-size: 13px;
    line-height: 22px;
    min-height: 22px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-left: 13px;

    &:hover {
      background-color: var(--list-item-hover-bg);
      border: var(--list-item-hover-border);
    }

    &:focus {
      background-color: var(--focused-list-item);
    }
    
    &[data-selected], &:active {
      background-color: var(--focused-selected-list-item-bg);
      border: var(--list-item-hover-border);
      color: var(--list-item-selected-color);
    }

    & span {
      color: var(--neutral-7);
    }
  }
}

.service-pane-explorer {
  &.container-expanded {
    min-height: 44px;
  }
}
