.mediumHeader {
  font-family: -apple-system,BlinkMacSystemFont,Segoe WPC,Segoe UI,HelveticaNeue-Light,Ubuntu,Droid Sans,sans-serif;
  font-size: 26px;
  font-weight: normal;
  margin: 0;
  padding: 0
}
