ul > li.link::before {
  -webkit-mask: url(../../../media/ic_link.svg);
  -webkit-mask-size: 12px;
}

@keyframes highlight {
  0% {
    background-color: transparent;
  }

  40%, 60% {
    background-color: var(--focused-list-item);
    color: var(--input-label-color);
  }

  100% {
    background-color: transparent;
  }
}

.animateHighlight {
  animation: highlight 1s;
}

.emptyContent {
  margin: 12px 25px;
  font-size: 13px;
  color: var(--explorer-panel-group-title-color);
  line-height: 18px;
  > a {
    background-color: transparent;
    border: 1px solid transparent;
    color: var(--focused-selected-list-item-bg);
    cursor: pointer;
    font-family: var(--default-font-family);
    font-weight: 600;
    padding: 0;
    text-decoration: none;
    white-space: normal;

      &:focus {
        outline: var(--p-button-border-focus);
      }
      &:hover {
        text-decoration: underline;
      }
  }
}
