.intentEditor {
  color: white;
  font-family: var(--default-font-family);
  font-size: 12px;
  user-select: text;
  padding-top: 16px;
}
:global {
  #selectorContainer {
    padding-left: 16px
  }

  #selector {
    width: 190px;
    font-family: var(--default-font-family);
    font-size: 12px;
  }
}

.hidden {
  display: none;
}

.disabled {
  padding-top: 10px;
  color: var(--neutral-3);
}
