.intent-editor {
  color: var(--luis-default-color);
  font-family: var(--default-font-family);
  font-size: 12px;
  user-select: text;
  padding-top: 16px;

  label {
    margin-right: 16px;
    margin-bottom: 5px;
  }
}

.selector {
  max-width: 150px;
  font-family: var(--default-font-family);
  font-size: 12px;
}

.hidden {
  display: none;
}

.disabled {
  padding-top: 10px;
  color: var(--luis-intent-editor-warning-color);
}
