
.wc-app {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.wc-app-left-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 50%;
    bottom: 0;
}

.wc-app-right-container {
    position: absolute;
    top: 0;
    left: 50%;
    right: 0;
    bottom: 0;
}
