/* reset */

    html, body {
        height: 100%;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }

    body, button, input, textarea {
        font-family: 'Segoe UI', sans-serif;
        font-size: 15px;
    }

    button {
        background-color: #29a3ed;
        border: none;
        border-radius: 2px;
        color: #fff;
        cursor: pointer;
        outline: none;
    }

    button:hover {
        background-color: #3e92d2;
    }

    h1, h2, h3, h4, p, ul, ol {
        margin: 0;
        padding: 0;
    }

/* docking */

    .wc-hidden {
        visibility: hidden;
    }

    .wc-time {
        color: #999;
        margin-bottom: 10px;
    }

    .wc-message-groups {
        bottom: 50px;
        left: 0;
        overflow-x: hidden;
        overflow-y: scroll;
        padding: 10px;
        position: absolute;
        right: 0;
        top: 45px;  /* from wc-header total height */
    }

    .wc-shell {
        border: 5px solid #dbdee1;
        bottom: 0;
        box-sizing: border-box;
        height: 50px;
        left: 0;
        position: absolute;
        right: 0;
    }

/* views */

    .wc-chatview-panel {
        position: absolute;
        right: 0;
        left: 0;
        top: 0;
        bottom: 0;
    }

    .wc-chatview-header {
        background-color: #3e92d2;
        color: #fff;
        font-weight: 500;
        height: 35px;   /* height + padding-top = total height */
        left: 0;
        letter-spacing: 0.5px;
        padding: 10px 15px 0 15px;
        position: absolute;
        right: 0;
        top: 0;
    }

    .wc-debugview-header {
        background-color: #3e92d2;
        color: #fff;
        font-weight: 500;
        height: 35px;   /* height + padding-top = total height */
        left: 0;
        letter-spacing: 0.5px;
        padding: 10px 15px 0 15px;
        position: absolute;
        right: 0;
        top: 0;
    }

    .wc-consoleview-header {
        background-color: #3e92d2;
        color: #fff;
        font-weight: 500;
        height: 35px;   /* height + padding-top = total height */
        left: 0;
        letter-spacing: 0.5px;
        padding: 10px 15px 0 15px;
        position: absolute;
        right: 0;
        top: 0;
    }

    .wc-debugview {
        position: absolute;
        left: 0;
        right: 0;
        top: 45px;
        bottom: 0;
        overflow-y: scroll;
    }

    .wc-debugview-json {
        font-size: 13px;
        font-family: monospace;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        word-wrap: break-word;
        white-space: pre-wrap;
        padding: 5px 5px 5px 5px;
        margin: 5px 5px 5px 5px;
    }

/* JSON */

    .json-key {
        color: rgb(19, 132, 149);
    }

    .json-string {
        color: #1A1AA6;
    }

    .json-number {
        color: rgb(0, 0, 205);
    }

    .json-boolean {
        color: rgb(88, 92, 246);
    }

    .json-null {
        color: black;
    }

/* consoleview */

    .wc-consoleview {
        overflow-y: scroll;
        font-size: 13px;
        font-family: monospace;
        word-wrap: break-word;
        white-space: pre-wrap;
        position: absolute;
        left: 0;
        top: 45px;
        right: 0;
        bottom: 0;
    }

    .wc-consoleview-info {

    }

    .wc-consoleview-trace {

    }

    .wc-consoleview-debug {

    }

    .wc-consoleview-warn {

    }

    .wc-consoleview-error {

    }

/* messages */

    .wc-message-group {
        clear: both;
    }

    .wc-message {
        clear: both;
        margin-bottom: 10px;
        max-width: 80%;
        position: relative;
    }

    .wc-message svg.wc-message-callout {
        height: 8px;
        position: absolute;
        stroke: none;
        top: 0;
        width: 12px;
    }

    .wc-message-content {
        border-radius: 2px;
        box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.2);
        padding: 8px;
        word-wrap: break-word;
    }

    .wc-message-content.clickable {
        cursor: pointer;
    }

    .wc-message-content.selected {
        box-shadow: 0px 1px 1px 0px #ffa333
    }

    .wc-message-content img {
        max-height: 320px;
        max-width: 100%;
    }

    .wc-message-from {
        color: #999;
        font-size: 11px;
        margin-top: 5px;
    }

/* cards */

    .wc-card {
        background-color: #fff;
        border: 1px solid #d2dde5;
        font-size: 13px;
        padding: 8px;
    }

    .wc-card button {
        height: 42px;
        width: 100%;
    }

    .wc-card h1 {
        font-size: 15px;
        font-weight: 700;
    }

    .wc-card h2 {
        color: #808c95;
        font-size: inherit;
        font-weight: normal;
        margin-bottom: 8px;
    }

    .wc-card p {
        padding-bottom: 10px;
    }

    .wc-card h1, .wc-card h2, .wc-card p {
        margin-left: 8px;
        margin-right: 8px;
    }

    /* don't double indent */
    .wc-card p h2 {
        margin-left: 0;
    }

    ul.wc-card-buttons {
        clear: both;
    }

    ul.wc-card-buttons li {
        list-style-type: none;
        margin-top: 8px;
        text-align: center;
    }

    .wc-card.hero img {
        display: block;
        margin-bottom: 11px;
    }

    .wc-card.receipt table {
        border-collapse: collapse;
        width: 100%;
    }

    .wc-card.receipt th, .wc-card.receipt td {
        text-align: right;
        vertical-align: top;
    }

    .wc-card.receipt th:first-child, .wc-card.receipt td:first-child {
        text-align: left;
    }

    .wc-card.receipt th {
        color: #808c95;
        font-size: inherit;
        font-weight: normal;
        line-height: 1.75;
    }

    .wc-card.receipt thead tr:last-child th {
        padding-bottom: 16px;
    }

    .wc-card.receipt th[colspan="2"] {
        color: inherit;
        font-size: 15px;
        font-weight: 700;
    }

    .wc-card.receipt td {
        padding: 4px 8px 0 8px;
    }

    .wc-card.receipt td img {
        float: left;
        margin: 5px 8px 8px 0;
        max-height: 50px;
        max-width: 50px;
    }

    .wc-card.receipt tbody tr, .wc-card.receipt tfoot tr {
        border-top: 1px solid #d2dde5;
    }

    .wc-card.receipt tbody tr:first-child, .wc-card.receipt tfoot tr:first-child {
        border-top-width: 2px;
    }

    .wc-card.receipt tfoot td {
        line-height: 2.25;
    }

    .wc-card.thumbnail img {
        float: right;
        margin-left: 10px;
        width: 100px;
    }

/* carousel */

    .wc-carousel {
        position: relative;
    }

    .wc-carousel button.scroll {
        background-color: #d2dde5;
        height: 28px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        top: 50%;
        width: 28px;
    }

    .wc-carousel button.scroll:disabled {
        display: none;
    }

    .wc-carousel button.scroll:hover {
        background-color:  #808c95;
    }

    .wc-carousel button.scroll svg {
        fill: #fff;
    }

    .wc-carousel button.scroll.previous {
        left: -16px;
    }

    .wc-carousel button.scroll.next {
        right: -16px;
    }

    .wc-carousel-scroll-outer {
        /* allow horizontal scrolling but hide the scrollbar */
        overflow: hidden;
    }

    .wc-carousel-scroll {
        /* allow horizontal scrolling but hide the scrollbar */
        overflow-x: scroll;
        overflow-y: hidden;
    }

    .wc-carousel-scroll > ul {
        margin-left: -4px;
        white-space: nowrap;
    }

    .wc-carousel-scroll > ul > li {
        display: inline-block;
        max-width: 640px;
        padding: 0 4px;
        vertical-align: top;
        white-space: nowrap;
        width: 85%;
    }

    .wc-carousel-scroll > ul > li:last-child {
        padding-right: 0;
    }

    .wc-carousel li p {
        min-height: 4em;
        white-space: normal;
    }

/* from me */

    .wc-message-from-me {
        float: right;
        margin-right: 12px;
    }

    .wc-message-from-me .wc-message-from {
        text-align: right;
    }

    .wc-message-from-me .wc-message-content {
        background-color: #808c95;
        color: #fff;
    }

    .wc-message-from-me svg.wc-message-callout path {
        fill: #808c95;
    }

    .wc-message-from-me svg.wc-message-callout path.point-left {
        display: none;
    }

    .wc-message-from-me svg.wc-message-callout {
        right: -10px;
    }

/* from bot */

    .wc-message-from-bot {
        float: left;
        margin-left: 12px;
    }

    .wc-message-from-bot .wc-message-content {
        background-color: #eceff1;
        color: #000;
    }

    .wc-message-from-bot svg.wc-message-callout path {
        fill: #eceff1;
    }

    .wc-message-from-bot svg.wc-message-callout path.point-right {
        display: none;
    }

    .wc-message-from-bot svg.wc-message-callout {
        left: -12px;
    }

/* shell */

    .wc-shell > * {
        position: absolute;
        top: 0;
        vertical-align: middle;
    }

    .wc-shell label {
        cursor: pointer;
        display: inline-block;
        height: 40px;
    }

    .wc-shell svg {
        fill: #8A8A8A;
        margin: 11px;
    }

    .wc-shell textarea, .wc-shell input[type=text] {
        border: none;
        height: 100%;
        outline: none;
        padding: 0;
        resize: none;
        width: 100%;
    }

    .wc-upload input {
        display: none;
    }

    .wc-textbox {
        bottom: 0;
        left: 48px;
        right: 49px;
    }

    .wc-send {
        right: 0;
    }

/* animation */

    .wc-animate-scroll {
        transition: left .8s ease;
    }

    .wc-animate-scroll-rapid {
        transition: left .4s ease;
    }

    .wc-animate-scroll-near {
        transition: left .5s ease-in-out;
    }

/* text formats */

    .format-markdown>p {
        margin-bottom: 0px;
    }

    .format-markdown code {
        white-space: pre-wrap;
    }
