/* reset */

    html, body {
        height: 100%;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }

    body, button, input, textarea, select {
        font-family: 'Segoe UI', sans-serif;
        font-size: 15px;
    }

/* emulator */

    /*
    .mainview {
    }
    */

    .settingsview {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 0;
        padding: 15px 15px 15px 15px;
    }

    .botchat-container {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }

