/* reset */

    html, body {
        height: 100%;
        width: 100%;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }

    body, button, input, textarea, select {
        font-family: -apple-system, BlinkMacSystemFont, "Segoe WPC", "Segoe UI", "HelveticaNeue-Light", "Ubuntu", "Droid Sans", sans-serif;
        font-size: 15px;
    }

    a, button {
        transition: all .2s;
    }

    button {
        border-radius: 2px;
        background: #3A96DD;
        border: none;
        border-radius: 2px;
        color: #fff;
        cursor: pointer;
        outline: none;
    }
    button:hover {
        background: #0063B1;
    }

    *, *:before, *:after {
        box-sizing: border-box;
        -webkit-user-select: none;
    }

    ::-webkit-scrollbar {
        width: 8px;
        height: 8px;
    }

    ::-webkit-scrollbar-track {
        background: transparent;
    }

    ::-webkit-scrollbar-thumb {
        border-radius: 1px;
        background: #D5D5D5;
    }

/* botchat overrides */

    .format-markdown>p {
        margin-bottom: 0px;
        margin-top: 0px;
    }

    .wc-message-content * {
        -webkit-user-select: text;
    }

    .wc-message-content.selected {
        color: white;
        background-color: #1e1e1e;
        box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.2);
    }

    .wc-message-content.selected>svg.wc-message-callout>path {
        fill: #1e1e1e;
    }

    .wc-card {
        color: #000;
    }

    .wc-card button {
        border: 1px solid #ccc;
        border-radius: 1px;
        cursor: pointer;
        outline: none;
        transition: color .2s ease, background-color .2s ease;
        background-color: transparent;
        color: #3A96DD;
        min-height: 32px;
        width: 100%;
        padding: 0 16px;
    }

    .wc-list ul {
        padding: 0;
    }

/* emulator */

    .emu-chatview-background {
        background: #f7f7f7;
        position: absolute;
        right: 0;
        left: 0;
        top: 0;
        bottom: 0;
    }

    .box-centered {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .botchat-container {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }

    .addressbar {
        background: #3A96DD;
        position: absolute;
        top: 0;
        height: 42px;
        left: 0;
        right: 0;
        color: white;
        z-index: 900;
    }

    .addressbar-status {
        position: absolute;
        height: 42px;
        width: 32px;
        top: 0;
        left: 0;
        line-height: 42px;
        text-align: center;
    }

    .addressbar-textbox {
        position: absolute;
        top: 0;
        left: 32px;
        height: 42px;
        right: 84px;
    }
    .addressbar-textbox input[type=text] {
        background: #3A96DD;
        color: white;
        border: none;
        height: 100%;
        outline: none;
        padding: 0;
        resize: none;
        width: 100%;
        padding-left: 4px;
    }
    .addressbar-textbox input[type=text]::-webkit-input-placeholder {
        color: rgba(255, 255, 255, 0.75);
    }

    .addressbar-control {
        position: absolute;
        width: 32px;
        height: 42px;
        right: 32px;
        top: 0;
        line-height: 42px;
        text-align: center;
    }

    .addressbar-refresh {
        position: absolute;
        width: 42px;
        height: 42px;
        right: 42px;
        top: 0;
        line-height: 37px;
        text-align: center;
    }

    .addressbar-menu {
        position: absolute;
        width: 42px;
        height: 42px;
        right: 0;
        top: 0;
        line-height: 37px;
        text-align: center;
    }

    .addressbar-search {
        background: #3A96DD;
        max-height: 500px;
        overflow-y: auto;
        position: absolute;
        left: 0;
        right: 0;
        top: 42px;
        z-index: 1000;
        transition: all .2s;
        display: block;
        padding-bottom: 8px;
    }
    .addressbar-search.closed {
        max-height: 0;
    }

    .addressbar-searchresult-a {
        color: #fff;
        text-decoration: none;
    }

    .addressbar-searchresult {
        position: relative;
        margin-left: 28px;
        margin-right: 6px;
        display: block;
        transition: background-color 0.1s;
    }

    .addressbar-searchresult:hover {
        background: #6AAFE5;
        border-radius: 2px;
    }
    .addressbar-searchresult:hover .addressbar-searchresult-delete {
        opacity: 1;
    }

    .addressbar-searchresult-title {
        cursor: pointer;
        display: block;
        line-height: 32px;
        padding-left: 8px;
        padding-right: 24px;
        overflow-wrap: break-word;
    }

    .addressbar-searchresult-delete {
        opacity: 0;
        cursor: pointer;
        position: absolute;
        right: 8px;
        top: 7px;
        bottom: 0;
        transition: opacity 0.1s;
    }

    .addressbar-botcreds {
        background-color: white;
        color: black;
        overflow: hidden;
        position: absolute;
        right: 0;
        left: 0;
        top: 42px;
        z-index: 1000;
        background: #fff;
        padding: 24px 24px 24px 40px;
        box-shadow: 0 1px 2px rgba(0,0,0,.2);
    }
    .addressbar-botcreds.closed {
        max-height: 0;
        border-width: 0;
        box-shadow: 0;
    }
    .addressbar-botcreds-title {
        font-weight: 500;
    }
    .addressbar-botcreds input[type=text] {
        border-radius: 2px;
        border-width: 0.1px;
        border-style: solid;
        border-color: #ccc;
        padding-left: 4px;
        padding-right: 4px;
    }
    .addressbar-botcreds-input {
        display: inline-block;
    }
    .addressbar-botcreds-appid {
        width: 300px;
    }
    .addressbar-botcreds-password {
        width: 160px;
    }
    .addressbar-botcreds-locale {
        width: 50px;
    }
    .addressbar-botcreds-connect-button {
        display: block;
        padding: 11px 16px 10px 16px;
        font-size: 13px;
        text-transform: uppercase;
        line-height: 1.3333333;
        font-weight: 500;
        margin-top: 24px;
    }
    .addressbar-botcreds-callout {
        width: 0;
        height: 0;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-top: 8px solid #3A96DD;
        position:absolute;
        top:0;
        left:40px;
    }

    .clickable:hover {
        cursor: pointer;
    }

/* appsettings-dialog */

    .appsettings-dialog {
        width: 512px;
        height: 487px;
    }

    .appsettings-dialog .input-group {
        margin: 0;
    }

    .appsettings-checkbox-group {
        width: 100%;
    }

    .appsettings-checkbox-group .form-label {
        width: 100%;
    }

    .appsettings-browsebtn {
        padding: 11px 16px 10px 16px;
        margin-left: 8px;
        font-size: 13px;
        text-transform: uppercase;
        line-height: 1.3333333;
        font-weight: 400;
        width: 96px;
    }

    .appsettings-savebtn {
        position: absolute;
        left: 50%;
        transform: translate(-110%, 0%);
        padding: 11px 16px 10px 16px;
        font-size: 13px;
        text-transform: uppercase;
        line-height: 1.3333333;
        font-weight: 500;
        width: 96px;
    }

    .appsettings-cancelbtn {
        background: #E6E6E6;
        color: #888;
        position: absolute;
        left: 50%;
        transform: translate(10%, 0%);
        padding: 11px 16px 10px 16px;
        font-size: 13px;
        text-transform: uppercase;
        line-height: 1.3333333;
        font-weight: 500;
        width: 96px;
    }

    .appsettings-cancelbtn:hover {
        background: #D9D9D9;
    }

    .appsettings-port {
        width: 155px;
    }

    .appsettings-port-group {
        padding-bottom: 20px;
    }

    .appsettings-ngrokpath-input {
        width: 357px;
        margin-bottom: 8px;
    }

    .appsettings-serviceurl-input {
        width: 460px;
    }
    

/* conversationsettings-dialog */

    .conversationsettings-dialog {

        width: 500px;
        height: 400px;

    }

    .conversationsettings-closex {
        position: absolute;
        width: 42px;
        height: 42px;
        line-height: 42px;
        text-align: center;
        z-index: 900;
        top: 0;
        right: 0;
    }

    .conversationsettings-userlist {
        position: absolute;
        top: 24px;
        bottom: 100px;
        left: 24px;
        right: 24px;
        background: lightgray;
        border-width: 1px;
        border-radius: 2px;
        border-color: black;
        overflow: hidden;
    }

    .conversationsettings-userlist-area {
        position: absolute;
        left: 0;
        right: 0;
        height: 200px;
        background: lightgreen;
        overflow: hidden;
    }

/* about-dialog */

    .about-dialog {
        width: 320px;
        height: 360px;
        padding: 0 !important;
    }

    .about-okbtn {
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0%);
        padding: 11px 16px 10px 16px;
        font-size: 13px;
        text-transform: uppercase;
        line-height: 1.3333333;
        font-weight: 500;
        width: 96px;
    }

    .about-logo-fill {
        fill: #3A96DD;
    }
    .about-logo {
        padding-top: 50px;
        width: 100%;
        text-align: center;
    }
    .about-name {
        text-align: center;
        width: 100%;
        font-weight: 500;
        font-size: 18px;
        padding-top: 6px;
        padding-bottom: 6px;
        letter-spacing: -0.3px;
    }
    .about-link {
        text-align: center;
        width: 100%;
        padding-bottom: 6px;
    }
    .about-link a {
        text-decoration: none;
        color: #3A96DD;
    }
    .about-version {
        text-align: center;
        width: 100%;
        font-size: 15px;
    }
    .about-copyright {
        text-align: center;
        width: 100%;
        position: absolute;
        bottom: 18px;
        font-size: 12px;
        color: #999;
    }

/* base classes */

    .fill-parent {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

    .emu-dialog {
        line-height: initial;
        background: #fff;
        color: black;
        overflow: hidden;
        padding: 0 24px 0 24px;
        box-shadow: 0 1px 2px rgba(0,0,0,.2);
        z-index: 9999;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: all .2s;
        text-align: left;
        transition: opacity .2s ease;
        border-radius: 2px;
        cursor: default;
    }

    .emu-dialog-text {
        margin-bottom: 12px;
    }
    .emu-dialog-text a {
        text-decoration: none;
        color: #3A96DD;
    }

    .dialog-background {
        background: black;
        opacity: 0.5;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 9998;
        transition: opacity .2s ease;
    }

    .dialog-closex {
        cursor: pointer;
        position: absolute;
        top: 8px;
        right: 8px;
        cursor: pointer;
    }

    .dialog-closex path {
        stroke: #CCC;
    }

    .dialog-buttons {
        position: absolute;
        padding: 0 0 52px 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

    .invisible {
        opacity: 0;
    }

    .input-group {
        display: inline-block;
        margin-right: 16px;
    }

    .form-label {
        display: block;
        font-size: 13px;
        margin-bottom: 8px;
    }

    .form-input {
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 2px;
        font-size: 15px;
    }

    .toolbar-button {
		border-radius: 2px;
		width: 24px;
		height: 24px;
        vertical-align: middle;
        transition: all .2s;
    }
    .toolbar-button:hover {
        background: #6AAFE5;
    }
    .toolbar-button-disabled {
        opacity: 0.5
    }
    svg.toolbar-button-disabled:hover {
        background: initial;
    }

    .toolbar-button-dark {
		border-radius: 2px;
		width: 24px;
		height: 24px;
        vertical-align: middle;
        transition: all .2s;
    }
    .toolbar-button-dark:hover {
        background: #4C4C4C;
    }

    .emu-visible {
        display: block;
    }
    .emu-hidden {
        display: none;
    }
    .emu-navbar {
        list-style-type: none;
        margin: 16px 0 0 0;
        padding: 0;
        overflow: hidden;
    }
    .emu-navbar li {
        float: left;
    }
    .emu-navbar, .emu-navitem {
        color: #3A96DD;
        text-decoration: none;
        transition: border 0s;
    }
    .emu-navitem {
        padding: 0px 16px 10px 16px;
        margin: 0 26px 0px 0px;
        display: block;
        border-bottom: 3px #CCC solid;
    }
    .emu-navitem-selected {
        color: #000;
        border-bottom: 3px #3A96DD solid;
        transition: border 0s;
    }
    .enu-navhdr {
        height: 0;
        border: 0;
        border-top: 1px solid #CCC;
        margin: -1px 0 0 0;
    }
    .emu-tab {
        margin-top: 16px;
    }
    .emu-readonly {
        background: #EEE;
    }

    .emu-panel-header {
        background-color: #252526;
        color: #fff;
        border-bottom: solid 1px #403F3F;
        height: 42px;
        left: 0;
        letter-spacing: 0.5px;
        font-size: 13px;
        line-height: 42px;
        padding-left: 8px;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 1000;
        box-shadow: 0 2px 3px rgba(0,0,0,.5);
    }
    .undecorated-text {
        text-decoration: none;
    }

/* inspectorview */

    .wc-inspectorview {
        background-color: #1e1e1e;
        color: white;
        position: absolute;
        left: 0;
        right: 0;
        top: 42px;
        bottom: 0;
        overflow-y: auto;
    }

    .wc-inspectorview * {
        -webkit-user-select: text;
    }

    .wc-inspectorview::-webkit-scrollbar-thumb {
        background: #403F3F;
    }

    .wc-inspectorview-json {
        font-size: 13px;
	    font-family: 'Menlo', 'Monaco', 'Consolas', "Droid Sans Mono", "Courier New", monospace, "Droid Sans Fallback";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        word-wrap: break-word;
        white-space: pre-wrap;
        padding: 10px 10px 10px 10px;
    }

/* JSON */

    .json-key {
        color: #9cdcfe;
    }

    .json-string {
        color: #ce9178;
    }

    .json-number {
        color: #b5cea8;
    }

    .json-boolean {
        color: #569cd6;
    }

    .json-null {
        color: #569cd6;
    }

/* logview */

    .wc-logview {
        background-color: #1e1e1e;
        color: white;
        overflow: auto;
        font-size: 13px;
	    font-family: 'Menlo', 'Monaco', 'Consolas', "Droid Sans Mono", "Courier New", monospace, "Droid Sans Fallback";
        white-space: nowrap;
        position: absolute;
        left: 0;
        top: 42px;
        right: 0;
        bottom: 0;
        padding: 10px 10px 10px 10px;
    }

    .wc-logview * {
        -webkit-user-select: text;
        font-size: 12px;
    }

    .wc-logview::-webkit-scrollbar-thumb {
        background: #403F3F;
    }

    .logview-header-text {
        float: left;
    }

    .logview-clear-output-button {
        position: absolute;
        right: 12px;
        height: 100%;
    }

    .wc-logview-timestamp {
        color: lightgray;
        display: inline-block;
    }

    .wc-logview a {
        color: #9CDCFE;
        display: inline-block;
    }
/*    .wc-logview a {
        color: #d1d1d1;
    }
*/
    .wc-logview-arg {
        color: lightgray;
        display: inline-block;
    }

    .wc-logview-log {
        color: lightgray;
        display: inline-block;
    }

    .wc-logview-info {
        color: lightgray;
        display: inline-block;
    }

    .wc-logview-trace {
        color: lightgreen;
        display: inline-block;
    }

    .wc-logview-debug {
        color: #808080;
        display: inline-block;
    }

    .wc-logview-warn {
        color: #f5a623;
        display: inline-block;
    }

    .wc-logview-error {
        /*color: #ec407a;*/
        color: #ed4556;
        display: inline-block;
    }
