.appSettingsEditor {
  p {
    margin: 16px 0;
  }

  a {
    border: 1px solid transparent;
    color: var(--focused-selected-list-item-bg);
    cursor: pointer;
    font-family: var(--default-font-family);
    font-weight: 600;
    white-space: normal;
    text-decoration: none;

    &:focus {
      outline: var(--p-button-border-focus);
    }
    &:hover {
      text-decoration: underline;
    }
  }

}

.rightColumn {
  margin-left: 48px;
}

.buttonRow {
  margin-top: 48px;
}

.browseButton, .saveButton {
  margin-left: 8px;
  margin-top: auto;
}

.sizeLimitSuffix {
  display: inline-block;
  line-height: 32px;
  margin-left: 8px;
}

.checkboxOverrides {
  margin-bottom: 16px;
}

.appSettingsInput {
  color: var(--neutral-5);
}

.spacing {
  padding: 0 0 2px 3px;
}
