.rightColumn {
  margin-left: 48px
}

.section {
  margin-bottom: 34px;
  width: auto;
  max-width: 100%;

  a {
    min-width: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    text-decoration: none;
    color: var(--focused-selected-list-item-bg);
  }

  ul {
    margin: 0;
    list-style: none;
    padding: 0;

    &.well {
      padding: 10px 0;
    }
  }
}

.well {
  background-color: var(--my-bots-well-bg);
  border: var(--my-bots-well-border);

  &::-webkit-scrollbar-thumb {
    background-color: transparent
  }

  &:hover {
    &::-webkit-scrollbar-thumb {
      background-color: var(--my-bots-scrollbar-color);
    }
  }
}

.noBots {
  font-style: italic;
}

.recentBotsList {
  max-height: 100px;
  overflow-y: auto;
  overflow-x: hidden;

  & > li {
    display: flex;
  }

  a {
    flex-shrink: 0;
  }
}

.recentBot {
  position: relative;
  padding: 0 16px;
  border: 1px solid transparent;

  &:hover {
    background-color: var(--my-bots-entry-bg);
    border: var(--my-bots-entry-border);

    .recentBotActionBar {
      display: block;
    }
  }

  > a {
    color: var(--my-bots-entry-color);
  }
}

.recentBotActionBar {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: auto;
  min-width: 16px;
  background-color: transparent;

  > button {
    border: 0;
    padding: 0;
    height: 0;
    width: 0;
    cursor: pointer;

    &:after {
      height: 16px;
      width: 8px;
      margin-right: 8px;
      content: "\2716";
      color: var(--tab-icon-color);
      font-size: 12px;
    }
  }
}

.recentBotPath {
  display: inline-block;
  margin-left: 8px;
  color: var(--my-bots-path-color);
  opacity: 0.5;
  user-select: text;
  cursor: text;
}

.openBot {
  margin-top: 24px;
  margin-bottom: 16px;
  width: 180px;
  height: 26px;

  :global {
    .ms-Button-label {
      line-height: 26px;
    }
  }
}

.ctaLink {
  white-space: normal;
  margin-left: 8px;
}
