.progress-indicator {
  --progress-percentage: 0%;
  height: 4px;
  position: relative;
  border: none;
  &::before {
    transition: width .2s ease;
    content: '';
    position: absolute;
    height: 4px;
    width: var(--progress-percentage);
    background: #0078d7;
  }
}
