@font-face {
  font-family: Segoe UI;
  font-weight: bold;
  src: url("./segoe-ui-bold.woff") format("woff");
}

@font-face {
  font-family: Segoe UI;
  font-weight: 600;
  src: url("./segoe-ui-semibold.woff") format("woff");
}

@font-face {
  font-family: Segoe UI;
  font-weight: 400;
  src: url("./segoe-ui.woff") format("woff");
}

@font-face {
  font-family: Segoe UI;
  font-weight: 300;
  src: url("./segoe-ui-semilight.woff") format("woff");
}

@font-face {
  font-family: Segoe UI;
  font-weight: 200;
  src: url("./segoe-ui-light.woff") format("woff");
}

@font-face {
  font-family: Menlo;
  src: url("./menlo.woff2") format("woff2");
}

:global {
  html, body, #root {
    &:focus {
      outline: none;
    }

    background-color: var(--dialog-bg);
    color: var(--input-label-color);
    cursor: default;
    font-size: 13px;
    font-family: var(--default-font-family);
    height: 100%;
    margin: 0;
    min-height: 100%;
    overflow: hidden;
    user-select: none;
  }

  #root {
    display: flex;
    flex-flow: column nowrap;
    // no-op that creates a local stacking context, so that elements outside of #root
    // can float on top of elements inside of it (such as menus, modals, etc.)
    transform: scale(1);
  }

  h1, h2 {
    font-family: var(--default-font-family);
    font-weight: 200;
  }

  h3 {
    font-family: var(--default-font-family);
    font-weight: 600;
  }

  input, textarea, button, select, p  {
    font-family: var(--default-font-family);
    font-weight: 400;
  }

  a {
    font-family: var(--default-font-family);
    font-weight: 600;
  }

  div {
    box-sizing: border-box;
  }

  *:focus {
    outline-width: var(--global-focus-outline-width);
    outline-style: var(--global-focus-outline-style);
    outline-color: var(--global-focus-outline-color);
  }

  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background: transparent;
  }
}
