@font-face {
  font-family: Segoe UI;
  src: url("./segoe-ui.woff2") format("woff2");
}

@font-face {
  font-family: Menlo;
  src: url("./menlo.woff2") format("woff2");
}

:global {
  html, body, #root {
    &:focus {
      outline: none;
    }
    background-color: var(--dialog-bg);
    color: var(--input-label-color);
    cursor: default;
    font-size: 13px;
    font-family: var(--default-font-family);
    height: 100%;
    margin: 0;
    min-height: 100%;
    overflow: hidden;
    user-select: none;
  }
  div {
    box-sizing: border-box;
  }

  *:focus {
    outline: var(--p-button-border-focus);
  }

  ::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background: transparent;
  }
}
