.splitter-layout {
    display: flex;
    flex-direction: row;
    height: 100%;
    overflow: hidden;
    position: absolute;
    width: 100%;
}

.splitter-layout .layout-pane {
    flex: 0 0 auto;
    overflow: auto;
    position: relative;
}

.splitter-layout .layout-pane.layout-pane-primary {
    flex: 1 1 auto;
    height: 100%;
}

.splitter-layout > .layout-splitter {
    background-color: #CCC;
    cursor: col-resize;
    flex: 0 0 auto;
    height: 100%;
    width: 4px;
}

.splitter-layout .layout-splitter:hover {
    background-color: #BBB;
}

.splitter-layout.layout-changing {
    cursor: col-resize;
}

.splitter-layout.layout-changing > .layout-splitter {
    background-color: #aaa;
}

.splitter-layout.splitter-layout-vertical {
    flex-direction: column;
}

.splitter-layout.splitter-layout-vertical.layout-changing {
    cursor: row-resize;
}

.splitter-layout.splitter-layout-vertical > .layout-splitter {
    cursor: row-resize;
    height: 4px;
    width: 100%;
}
