.detail {
  padding: 0;
  height: 100%;
  font-family: var(--monospace-font-family);
  word-wrap: break-word;
  white-space: pre-wrap;
  overflow-y: auto;
  user-select: text;
  box-sizing: border-box;
}
