.detail {
  box-sizing: border-box;
  font-family: var(--monospace-font-family);
  height: calc(100% - 7px);
  margin: 2px;
  padding: 0;
  overflow-y: auto;
  word-wrap: break-word;
  white-space: pre-wrap;
  user-select: text;
}
