.smallHeader {
  font-family: -apple-system,BlinkMacSystemFont,Segoe WPC,Segoe UI,HelveticaNeue-Light,Ubuntu,Droid Sans,sans-serif;
  font-size: 19px;
  font-weight: 200;
  margin: 16px 4px;
  padding: 0;
}
